doctype html
html(lang="zh-cn")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    meta(name="renderer", content="webkit")
    meta(http-equiv="Cache-Control", content="no-siteapp")
    title= title
    link(rel="stylesheet", type="text/css", href="http://cdn.amazeui.org/amazeui/2.5.0/css/amazeui.min.css")
    link(rel="stylesheet",type="text/css",href="/app/css/header.css")
  body
    div.container
        div.page
            div.am-g
              // 导航部分
              header.am-topbar.am-topbar-inverse(style='margin-bottom: 0rem!important;')
                .am-container
                  h4.am-topbar-brand.am-fl
                    img(src='./../../img/logoss.png', style='max-width: 111px;')
                    a(href='/') 公共管理学院
            block content
        .am-g(style='position: absolute;bottom: 0;clear: both;')
          .am-u-sm-12(style='background-color: rgb(52,89,131); color: white;')
            .am-text-center(style='margin-top: 0.4rem;')
              | 版权所有 南昌大学公共管理学院 ©2009-2016
            .am-text-center(style='margin-top: 0.2rem;margin-bottom: 0.5rem;')
              | 地址:江西省南昌市红谷滩新区学府大道999号 邮编:330031  
              a#aboutMe(href='/about') About Me        

    script(type='text/javascript', src='/app/js/jquery.min.js')
    script(type='text/javascript', src='/app/js/header.js')