doctype html
html(lang="zh-cn")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    meta(name="renderer", content="webkit")
    meta(http-equiv="Cache-Control", content="no-siteapp")
    title= title
    link(rel="stylesheet", type="text/css", href="http://cdn.amazeui.org/amazeui/2.5.0/css/amazeui.min.css")
    link(rel="stylesheet",type="text/css",href="/app/css/header.css")
  body
    div.container
        div.page
            div.am-g
              // 导航部分
              header.am-topbar.am-topbar-inverse(style='margin-bottom: 0rem!important;')
                .am-container
                  h1.am-topbar-brand.am-fl
                    img(src='./../../img/logoss (1).png', style='max-width: 119px;')
                    a(href='/') 公共管理学院
                  button.am-topbar-btn.am-topbar-toggle.am-btn.am-btn-sm.am-btn-success.am-show-sm-only(data-am-collapse="{target: '#topbar'}")
                    span.am-sr-only 导航切换
                    span.am-icon-bars
                  #topbar.am-collapse.am-topbar-collapse.am-fr
                    ul.am-nav.am-topbar-nav.am-nav-pills
                      li.topIcon
                        a(href='#') 学院概况
                        ul.am-show-md-up
                          li
                            a(href='http://spm.ncu.edu.cn/static/Instruction.asp') 学院简介
                          li
                            a(href='http://spm.ncu.edu.cn/static/xueyuanlingdao.asp') 学院领导
                          li
                            a(href='http://spm.ncu.edu.cn/Static/Structure.asp') 机构设置
                          li(style='padding-bottom: 2px;')
                            a(href='#') 发展规划
                      li.topIcon
                        a(href='#') 院系中心
                        ul
                          li
                            a(href='#') 公共管理学系
                          li
                            a(href='#') 社会学系
                          li
                            a(href='http://mpa.ncu.edu.cn/', style='font-size: 13px;') MPA教育中心
                          li(style='padding-bottom: 2px;')
                            a(href='http://cacs.ncu.edu.cn/') 廉政研究中心
                      li.topIcon
                        a(href='#') 师资队伍
                      li.topIcon
                        a(href='#') 学科建设
                        ul
                          li
                            a(href='http://spm.ncu.edu.cn/Static/Master.asp') 硕士点学科建设
                          li(style='padding-bottom: 2px;')
                            a(href='#') 重点学科建设
                      li.topIcon
                        a(href='#') 合作交流
                        ul
                          li
                            a(href='#') 合作办学
                          li(style='padding-bottom: 2px;')
                            a(href='http://spm.ncu.edu.cn/static/NewsList.asp?Type=3', style='font-size: 12px;') 学术会议与交流
                      li.topIcon
                        a(href='http://spm.ncu.edu.cn/static/MPAEdu.asp') MPA教育
                      li.topIcon
                        a(href='#') 党建团建
            block content
        .am-g(style='position: absolute;bottom: 0;clear: both;')
          .am-u-sm-12(style='background-color: rgb(52,89,131); color: white;')
            .am-text-center(style='margin-top: 0.4rem;')
              | 版权所有 南昌大学公共管理学院 ©2009-2016
            .am-text-center(style='margin-top: 0.2rem;margin-bottom: 0.5rem;')
              | 地址:江西省南昌市红谷滩新区学府大道999号 邮编:330031  
              a#aboutMe(href='/about') About Me        

    script(type='text/javascript', src='/app/js/jquery.min.js')
    script(type='text/javascript', src='/app/js/header.js')