    body {
        background: url(./../../img/body.gif) repeat;
    }
    
    ul {
        list-style-type: none;
    }
    
    #main ul>li {
        margin-top: 8px;
    }
    
    #main ul {
        padding-left: 0!important;
    }
    
    .am-badge-success {
        width: 4rem;
    }
    
    html,
    body {
        height: 100%;
    }
    
    .container {
        min-height: 100%;
        height: auto!important;
        height: 100%;
        position: relative;
    }
    
    .page {
        padding-bottom: 6.5rem;
    }
