    body {
        background: url(./../../img/body.gif) repeat;
    }
    
    ul {
        list-style-type: none;
    }
    
    #main ul>li {
        margin-top: 8px;
    }
    
    #main ul {
        padding-left: 0!important;
    }
    
    .am-badge-success {
        width: 4rem;
    }
