@import "../base/mixin";
$fontSize:12px;
body {
  font-size: $fontSize;
}

.container {
  font-size: $fontSize;
}

@include max-screen(480px) {
  body {
    color: #596bff;
  }
}

@include max-screen(900px) {
  body {
    color: red;
  }
}
